body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    color: #020202;
    font-family: "Open Sans", sans-serif;
}

button {
    background: #0ea5e9;
    border: none;
    color: white;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 15px;
}

h3 {
    font-weight: 500;
    margin: 20px 0 40px;;
    font-size: 25px
}

.section {
    margin: 85px 50px 0;
}

.border-bottom {
    border-bottom: 5px solid #0ea5e9
}